.card-container{
    background-color: #F6F6F6;
    display: flex;
    flex-wrap: wrap;
    gap: 60px; 
    row-gap: 20px;
    justify-content: center; 
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 25px;
    margin-bottom: 30px;
}

@media (max-width: 900px){
    .card-container{
        margin-left: 25px;
        margin-right: 25px;
        padding: 0;
        row-gap: 15px;
        // background-color: #FFFFFF;
    }
}