.collapse-title{
    background-color: #FF6060;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px 20px;
    line-height: 0;
    color: white;
    border-radius: 10px;
    z-index: 2;
    position: relative;
    .collapse-arrow{
        padding-top: 10px;
    }
    h3{
        font-weight: 600;
        font-size: 18px;
    }
} 
.collapse-text-container{
    background-color: #F6F6F6;
    padding: 0px;
    overflow: hidden;
    transition: transform 0.4s ease, max-height 0.4s ease;
    transform: translateY(-50%); 
    max-height: 0;
}

.display{
    transition: transform 0.4s ease, max-height 0.4s ease;
    transform: translateY(0%);
    max-height: 500px;
}

.collapse-text{
    padding: 0 15px;
    display: inline-block;
}

.rotate180{
    transform: rotate(-180deg);
    transition: transform 0.4s ease;
}

.rotate-0{
    transform: rotate(0deg);
    transition: transform 0.4s ease;
}