.description{
    display: flex;
    justify-content: space-between;
    .description-left{
        max-width: 70%;

    }
    h2{
        color: #FF6060;
        font-size: 36px;
        font-weight: 500;
        line-height: 30px;
    }
    .description-right{
        padding-top: 15px;
    }
    .location-description{
        font-weight: 500;
        font-size: 18px;
        margin-top: -20px;
    }
}

.tags{
    display: flex;
    align-items: center;
}

.host{
    display: flex;
    justify-content: flex-end;
    .name{
        margin-right: 10px;
        font-size: 18px;
        font-weight: 500;
    }
    .description-name{
    color: #FF6060;
    text-align: right;
    line-height: 7px;
    }
    .profile-pic{
        border-radius: 50%;
        width: 64px;
        height: 64px;
    }
}

@media(max-width: 900px){
    .description{
        flex-direction: column;
        .description-left{
            max-width: 100%;
        }
        h2{
            font-size: 24px;
        }
        .description-right{
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
        }
    }
}
