header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 30px;
    a{
        display: inline-block;
        text-decoration: none;
        color: black;
        font-size: 24px;
        font-weight: 400;
    }
    .margin-left{
        margin-left: 50px;
    }
    .accueil-menu, .a-propos-menu{
        border-bottom: 2px solid black;
        line-height: 20px;
    }
}
